:root {
  --blue: #5353B3;
  --blue-light: #D1CDFF;
  --blue-lighter: rgba(209, 205, 255, 0.4);
  --blue-lightest: rgba(209, 205, 255, 0.3);
  --white: #FFFFFF;
  --yellow: #FFE283;
  --red: #FF6726;
  --rose: #FFC0C8;
  --gray: #8998B3;
  --pale: rgba(132, 122, 241, 0.08);
  --background: #D1CDFF4D;
}

